.Calque_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 49;
}
._Ecrêter_le_groupe_ {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 48;
}
.fiche_film {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 47;
}
.Pré_inscription {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 46;
}
.Pré_inscription {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 570.804px;
  top: 974.498px;
  z-index: 45;
}
.ic_close {
  background-image: url("ic close.png");
  position: absolute;
  left: 1476px;
  top: 46px;
  width: 32px;
  height: 29px;
  z-index: 43;
}
.Bande_Annonce {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 42;
}
.Bande_Annonce {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 828.757px;
  top: 975.498px;
  z-index: 41;
}
.Fiche_complète_Allociné {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 39;
}
.Fiche_complète_Allociné {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 1095.615px;
  top: 974.498px;
  z-index: 38;
}
.Trait_2___Trait_3___Trait_4 {
  background-image: url("Trait 2 + Trait 3 + Trait 4.png");
  position: absolute;
  left: 466px;
  top: 245px;
  width: 1043px;
  height: 444px;
  z-index: 36;
}
.Synopsis_et_détails_A_la_lecture_du_testament_d {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 35;
}
.et_à_sillonner_avec_elle_le_pays_de_leurs_ancêt {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(8, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 466.151px;
  top: 897.498px;
  z-index: 34;
}
.Mais_son_amour_pour_sa_sœur_jumelle_le_poussera {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(8, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 465.468px;
  top: 870.498px;
  z-index: 33;
}
.Simon__lui__n_a_que_faire_des_caprices_posthume {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(8, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 466.116px;
  top: 843.498px;
  z-index: 32;
}
.Elle_décide_immédiatement_de_partir_au_Moyen_Or {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(8, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 465.77px;
  top: 816.498px;
  z-index: 31;
}
.enfermée_dans_un_mutisme_inexpliqué_les_dernièr {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(8, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 465.94px;
  top: 789.498px;
  z-index: 30;
}
.Jeanne_voit_dans_cet_énigmatique_legs_la_clé_du {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(8, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 465.197px;
  top: 762.498px;
  z-index: 29;
}
.l_une_destinée_à_un_père_qu_ils_croyaient_mort_ {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(8, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 465.661px;
  top: 735.498px;
  z-index: 28;
}
.A_la_lecture_du_testament_de_leur_mère__Jeanne_ {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(8, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 466.472px;
  top: 708.498px;
  z-index: 27;
}
.Synopsis_et_détails {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(8, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 466.301px;
  top: 654.498px;
  z-index: 26;
}
.Date_de_sortie_12_janvier_2011_2h_03min_De_Deni {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 24;
}
.Nationalité_canadien {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(9, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 472.82px;
  top: 593.998px;
  z-index: 23;
}
.Genre_Drame {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(9, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 472.616px;
  top: 566.998px;
  z-index: 22;
}
.Avec_Rémy_Girard__Lubna_Azabal__Mélissa_Désorme {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(9, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 473.237px;
  top: 539.498px;
  z-index: 21;
}
.De_Denis_Villeneuve_ {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(9, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 472.671px;
  top: 513.498px;
  z-index: 20;
}
.Date_de_sortie_12_janvier_2011__2h_03min___ {
  font-size: 20px;
  font-family: "Segoe UI";
  color: rgb(9, 9, 9);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 472.896px;
  top: 485.998px;
  z-index: 19;
}
._19505359 {
  background-image: url(" 19505359.png");
  position: absolute;
  left: 1144px;
  top: 273px;
  width: 180px;
  height: 160px;
  z-index: 17;
}
._19590229 {
  background-image: url(" 19590229.png");
  position: absolute;
  left: 946px;
  top: 273px;
  width: 180px;
  height: 160px;
  z-index: 16;
}
._19590236 {
  background-image: url(" 19590236.png");
  position: absolute;
  left: 748px;
  top: 273px;
  width: 180px;
  height: 160px;
  z-index: 15;
}
._19628698 {
  background-image: url(" 19628698.png");
  position: absolute;
  left: 550px;
  top: 273px;
  width: 180px;
  height: 160px;
  z-index: 14;
}
.Incendies {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 13;
}
.Incendies {
  font-size: 120px;
  font-family: "The Tribal Box";
  color: rgb(68, 103, 135);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 819.624px;
  top: 23.08px;
  z-index: 12;
}
.Le_4_aout_2017_18h00_Parc_Monceau_Paris_ {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 10;
}
.Le_4_aout_2017__18h00__Parc_Monceau__Paris_ {
  font-size: 23px;
  font-family: "Arial";
  color: rgb(68, 103, 135);
  line-height: 1.2;
  -moz-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -webkit-transform: matrix( 1,0,0,0.99997746529656,0,0);
  -ms-transform: matrix( 1,0,0,0.99997746529656,0,0);
  position: absolute;
  left: 659.629px;
  top: 163.049px;
  z-index: 9;
}
.Rectangle_100 {
  background-image: url("Rectangle 100.png");
  position: absolute;
  left: 797px;
  top: 971px;
  width: 203px;
  height: 37px;
  z-index: 7;
}
.Rectangle_101 {
  background-image: url("Rectangle 101.png");
  position: absolute;
  left: 1077px;
  top: 971px;
  width: 247px;
  height: 39px;
  z-index: 6;
}
.Rectangle_102 {
  background-image: url("Rectangle 102.png");
  position: absolute;
  left: 550px;
  top: 971px;
  width: 170px;
  height: 39px;
  z-index: 5;
}
._Trac {
  background-image: url("<Trac.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1775px;
  z-index: 4;
}
