
#FeSTiVaL_DeS_FiLmS_de_PleiN_AiR {
  font-size: 50px;
  font-family: 'the_tribal_boxffp', Arial, serif;
  color: rgb(68, 103, 135);
  }

img { width: 100%; }

.col-md-4{padding-right: 0px;
padding-left: 5px;padding-bottom: 5px;}