@font-face {
    font-family: 'the-tribal-box.ffp';
    src: url('the-tribal-box.ffp-webfont.eot');
    src: url('the-tribal-box.ffp-webfont.eot?#iefix') format('embedded-opentype'),
         url('the-tribal-box.ffp-webfont.woff2') format('woff2'),
         url('the-tribal-box.ffp-webfont.woff') format('woff'),
         url('the-tribal-box.ffp-webfont.ttf') format('truetype'),
         url('the-tribal-box.ffp-webfont.svg#the_tribal_boxffp') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    background: #FFFFFF;
}

p{
    margin-bottom: 2%;
}

h1 {
  font-size: 160px;
  font-family: 'the-tribal-box.ffp';  
  color: rgb(68, 103, 135);
    }
a:hover{
    text-decoration: none;
}

#titre{
    padding-bottom: 0px;
    margin-bottom: 0px;
    max-height: 170px;
   /* margin-bottom: 0.5%;
    height: 3%;
    margin-left: 37px;*/
}

#soustitre{
    color:rgb(68, 103, 135);
    font-size: 25px;
    /*font-size:1.3vw; */
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 1%;
   /* margin-left: 37px;*/
    }

#soustitre2{
    color:#E31D1E;
    margin-top: 0px;
    margin-bottom: 1%;
    font-family: 'the-tribal-box.ffp';
    font-size: 45px;
    }

.titreactus h1{
   font-size: 110px!important; 
}

.soustitreactus{
    margin-top: 1%;
    padding-top: 1%;
}

#footer a{
    text-decoration:none;
    color:black;
    }

#footer h4{    
    color:rgb(68, 103, 135);
    font-weight: bold;
}

.lien {
  font-size: 50px;
  font-family: 'the-tribal-box.ffp';  
  color: rgb(68, 103, 135);
  margin:0;
  padding: 0;    
  }

.titresmenu{
    padding-left: 1%;

}

#titrefiche h1{
    font-size: 85px;
}

.nav li{padding-left:0px; padding-right:0px;
   margin-left:0px; margin-right:0px;}

img { width: 100%; }

.col-md-4{padding-right:5px;
padding-left: 0px;padding-bottom: 5px;}

.venir{
    text-decoration: underline;
}

p{
    font-size:1.2em;
}

li{
    font-size:1.2em;
}



.boxpratique{
    margin-top:4%;
}

.boxpratique h3{
    color: #446787!important;
    font-weight: bold;
   }
.groupeActus{
    background: #FBFCFD;
    border-top: dotted #446787;
    border-bottom: dotted #446787;
    margin-bottom: 2%;
}

.contenuPratique{
    background:#FBFCFD; 
}

#menuleft{
    padding-left: 2%;
}

.textContact{
    font-size: 20px;
}

/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.carousel-indicators li { visibility: hidden; }

h2, h3 {margin-bottom: 0px; margin-top:0px;}
.carousel-caption {padding-bottom: 0px;}


.navbar {
  position: relative;
  min-height: 20px;
  margin-bottom: 10px;
  margin-top: 60px;
  padding-bottom:8px;
  border: none;
  
}


.navbar-default {margin-top: 2%;}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  }


.navbar-default .navbar-nav li  a{text-decoration: none;
            color:rgb(68, 103, 135);}
.navbar-default .navbar-nav li  a :focus{text-decoration: none;
            color:rgb(68, 103, 135);}
.navbar-default .navbar-nav li{margin-left: 0px; padding-right:0px;}

.navbar-default .navbar-nav .active  a {color: rgb(119,155,187);
background-color: #ffffff;}

.row{margin-left:0px;}



#sectionphoto{ 
    border-top: solid 4px rgb(119,155,187);
    border-bottom: solid 4px rgb(119,155,187);
    padding-top: 1%; 
    padding-bottom:1%;
    margin-bottom: 1%;        
}

#sectionsynopsys h3{ text-decoration: underline; text-decoration-color:rgb(68, 103, 135); margin-bottom: 1%; }

nav{padding-left:7.3%}


.btn-default{background:rgb(68, 103, 135); color:#FFF; border-radius: 15px;margin-left: 5%;margin-right: 5%; margin-bottom: 2%}


#sectionsynopsys {margin-bottom: 2%;}


#box{margin-top: 0px; padding-top: 0px;}

#sectionliens{margin-bottom: 2%;}
#social {margin-bottom:2%; max-height: 160px;margin-right: 0px;}
.logo{max-height:30px; max-width: 30px;}


#hautdepage{
   margin-top: 5%; 
   text-decoration: none;
}

.logoup{
    max-height: 20px;
    max-width:20px;
    margin-bottom: 3%;
}

#footer{
    margin-top: 0%;
    border-top: solid 3px rgb(68, 103, 135);
    border-bottom: solid 3px rgb(68, 103, 135);
    margin-bottom: 2%;
    background-color: rgba(181,200,218, 0.05);
}

.liensfooter1{
    padding-left: 3%;
    padding-right: 2%;
   }

.liensfooter2{
    padding-left: 3%;
    padding-right: 3%;
   }

.liensfooter3{
    padding-left: 6%;
    padding-right: 0px;
    margin-right: 0px;
   }

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF; position: relative; 
}

#bouton {background: rgb(68, 103, 135); color:#fff;}

.navbar-header{
    text-align:center;
}

.navbar-toggle {
    float: none;
    margin-right:10%;
}

.fancybox-button fancybox-button--fullscreen{
    display: none !important;
}

#menuaccueil, #menumenu{
        font-size: 18px;
        background: #446787;
        color: #fff;
        border-radius: 13px;
        text-align: center;
        width: 85px;
        margin-left: 2%;
            }

.boxpratique #inscription {
        background: #446787;
        color: #fff;
        border-radius: 8px;
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        }


#btnSubmit{
    margin-top: 2%;
}

input:invalid {
  border: 1px solid #446787;
  }
#email:valid{
  border: 2px solid green;
 }    
#nombre:valid{
  border: 2px solid green;
 }    
  

.error{
        color:red;
}


/*RESPONSIVE*/


@media all and (min-width:1200px) 
{

td{
    width:60px;
    line-height:80px;

}  
}

@media all and (min-width: 990px) and (max-width: 1200px)
{
#titre h1 {
      font-size: 140px;
}

#titresousmenus h1{
    font-size:90px;    
    }       
    
#titre{
    padding-bottom: 0px;
    margin-bottom: 0px;
    max-height: 150px;
   /* margin-bottom: 0.5%;
    height: 3%;
    margin-left: 37px;*/
}    
    
#soustitre{
    font-size: 25px;
}
#soustitre2{
    font-size: 50px;
}
.titresmenu a {
  font-size: 45px;
}  
nav{padding-left:1%}

}

@media all and (min-width: 768px) and (max-width: 990px)
{
#titre h1{
      font-size: 130px;
}
#titresousmenus h1{
    font-size:100px;    
   margin-top: 0px; }   
    
#titre{
    padding-bottom: 0px;
    margin-bottom: 0px;
    max-height: 100px;
   /* margin-bottom: 0.5%;
    height: 3%;
    margin-left: 37px;*/
}       
    
    
#soustitre{
    font-size: 20px;
    margin-top: 30px;
}
#soustitre2{
    font-size: 35px;
}
.titresmenu a {
  font-size: 40px;
}  
nav{padding-left:1.7%}


    
}

@media all and (min-width: 560px)and (max-width: 768px)
{
#titre h1,#titresousmenus h1 {
      font-size: 100px;
}
    
#titresousmenus h1 {
      font-size: 80px;
    margin-top: 0px;
}    
    
#titre{
    padding-bottom: 0px;
    margin-bottom: 0px;
    max-height: 80px;
   /* margin-bottom: 0.5%;
    height: 3%;
    margin-left: 37px;*/
}       
    
    
#soustitre{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}
#soustitre2{
    display: none;
   }
.titresmenu {
  font-size: 45px;
} 
#menuleft{
display: none;        
    }    

    
    
}




@media all and (max-width: 560px)
{
#titre h1, #titresousmenus h1{
      font-size: 50px;
}
#titresousmenus h1{    
    margin-top: 0px;
    }
#titre{
    padding-bottom: 0px;
    margin-bottom: 0px;
    max-height: 80px;
   /* margin-bottom: 0.5%;
    height: 3%;
    margin-left: 37px;*/
}       
    
    
#soustitre{
    display:none;
}
#soustitre2{
    display: none;
   }
.titresmenu {
  font-size: 45px;
}  
    
.textContact{
    font-size: 18px;
}

#sectioncarousel, .titrevignette{
    font-size: 15px;
  }    
   
#sectioncarousel, h2{
    font-size: 18px;      
} 

.carousel-caption{
    margin-bottom: 0px;  
    padding-bottom: 0px;
}
    
.fancybox-container {
  position: fixed;
  top: 0;
  left: 25%;
  width: 100%;
  height: 100%;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
    
.photofiche{
    min-width: 40px;
    min-height: 40px;
}

#soustitrefiche{
font-size:15px;    
}    

#menuleft{
    display:none;
    font-family: 'the-tribal-box.ffp';
    
}

#googlemap{
    width:450px;
    height: 450px;
}

#menuleft{
display: none;        
    }       
    
    
    
/*tableau*/    
.rg-container {
	max-width: 600px;
	margin: 0 auto;
}
table.rg-table {
	width: 100%;
}
table.rg-table tr.hide-mobile, table.rg-table th.hide-mobile, table.rg-table td.hide-mobile {
	display: none;
}
table.rg-table thead {
	display: none;
}
table.rg-table tbody {
	width: 100%;
}
table.rg-table tr, table.rg-table th, table.rg-table td {
	display: block;
	padding: 0;
}
table.rg-table tr {
    
	border-bottom: none;
	margin: 0 0 1em 0;
	padding: 0.5em;
}
table.rg-table tr.highlight {
	background-color: inherit !important;
}
table.rg-table.zebra tr:nth-child(even) {
	background-color: none;
  }
table.rg-table.zebra td:nth-child(even) {
	background-color: #f6f6f6;
   }
table.rg-table tr:nth-child(even) {
	background-color: none;
    
}
table.rg-table td {
	padding: 0.5em 0 0.25em 0;
    border-bottom: 1px dotted #ccc;
	text-align: left;
       
}
table.rg-table td[data-title]:before {
	content: attr(data-title);
	font-weight: bold;
	display: inline-block;
	content: attr(data-title);
	float: left;
	margin-right: 4em;
	font-size: 0.95em;
    
    
}
table.rg-table td:last-child {
	padding-right: 0;
	border-bottom: 1px solid #8A8989;
}
table.rg-table td:empty {
	display: none;
}
table.rg-table .highlight td {
	background-color: inherit;
	font-weight: normal;
}
#heure18{
    background:rgb(68, 103, 135);
    color:#fff;
    text-align:center;
    }    
#heure20{
    margin-top:3%;
    background:rgb(68, 103, 135);
    color:#fff;
    text-align:center;
    }
#heure22{
    margin-top:3%;
    background:rgb(68, 103, 135);
    color:#fff;
    text-align:center;
    }
    
.date{
    border-right: 1px solid #8A8989 !important;   
    }     

.text{
    padding-left: 5%;
    }        
    
    
}    
 

 

/*TABLEAU*/
.rg-container {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 60px;
    margin: 0;
	padding: 1em 0.5em;
	color: #222;
}
.rg-header {
	margin-bottom: 1em;
	text-align: left;
}

.rg-header > * {
	display: block;
}
.rg-hed {
	font-weight: bold;
	font-size: 1.4em;
}
.rg-dek {
	font-size: 1em;
}

.rg-source {
	margin: 0;
	font-size: 0.75em;
	text-align: right;
}
.rg-source .pre-colon {
	text-transform: uppercase;
}

.rg-source .post-colon {
	font-weight: bold;
}

/* table */
table.rg-table {
	width: 100%;
	margin-bottom: 0.5em;
 
	font-size: 1em;
	border-collapse: collapse;
	border-spacing: 0;
}
table.rg-table tr {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
    
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: left;
	color: #333;
}
table.rg-table thead {
	
}
table.rg-table tr {
	
	color: #222;
}
table.rg-table tr.highlight {
	background-color: #dcf1f0 !important;
}
table.rg-table.zebra tr:nth-child(even) {
	background-color: #f6f6f6;
}
table.rg-table th {
	font-weight: bold;
	padding: 0.35em;
	font-size: 0.9em;
    border: 2px solid #8A8989 ;
  
}
table.rg-table td {
	padding: 0.35em;
	font-size: 0.9em;
    border: 2px solid #8A8989 ;
}
table.rg-table .highlight td {
	font-weight: bold;
}
table.rg-table th.number, td.number {
	text-align: right;
}

.date{
    background:rgb(68, 103, 135);
    color:#fff;
    font-size: 18px!important;
    }

#casevide{
    border-top:none;
    border-left:none;
    border-bottom: none !important;
}

#heure18{
    border-top:none;
    border-left:none;
    border-bottom: none;
    text-align: center;
    }
#heure20{
    border-top:none;
    border-left:none;
    border-bottom: none;
    text-align: center;
    }
#heure22{
    border-top:none;
    border-left:none;
    border-bottom: none;
    text-align: center;
    }


}

